footer {
  background: #161513;
  display: flex;
  justify-content: space-between;
  color: #fff;
  flex-wrap: wrap;
  padding: 30px 64px;
  @media (max-width: 600px) {
    padding: 30px 25px;
    justify-content: center;
  }

  & .social-icon {
    & p {
      display: flex;
      justify-content: space-around;
      align-items: center;
      & svg {
        margin-left: 5px;
      }
    }
  }
}
