.about-sec {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 70px 64px;
  @media (max-width: 500px) {
    padding: 50px 25px;
  }

  & div {
    flex: 0 0 50%;
    @media (max-width: 800px) {
      flex: 0 0 100%;
    }
  }

  & .sub-div {
    margin-top: 30px;
  }

  & h3 {
    margin: 0;
    text-align: left;
    font-size: 25px;
    color: #484340;
    font-weight: 600;
    @media (max-width: 800px) {
      text-align: center;
    }
    @media (max-width: 500px) {
      text-align: left;
    }
  }

  & p {
    color: #484340;
    text-align: left;
    line-height: 25px;
    @media (max-width: 800px) {
      text-align: center;
    }
    @media (max-width: 500px) {
      text-align: left;
    }
  }

  & img {
    width: 100%;
  }
}
